<html>
    <head>
        <title>Message System</title>
    </head>
    <body>
        <ul>
            <% listItems.forEach(function(item,index){ %>
                <li> <%= item %> </li>
            <% }) %>
        </ul>
        <form action="/submit" method="get">
            <label for="message">Message:</label>
            <input type="text" id="message1" name="message"><br><br>
            <input type="submit" value="Submit">
        </form> 
    </body>
</html>