<html>
    <head>
        <title>Easy Chat | Register</title>
        <link rel="stylesheet" href="style.css"></link>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body class="text-center">
        <form class="form-signin" action="/submit" method="get">
            <h1 class="h3 mb-3 fw-normal">Choose Your Name</h1>
            <label for="name" class="sr-only">Name</label>
            <input type="text" id="message1" class="form-control" name="name" placeholder="Username" required="">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
        </form>
    </body>
</html>